endnode_example.json
[
    {
        "id": "6966003bfc36520b",
        "type": "ncd-gateway-node",
        "z": "2c93f197478d871e",
        "name": "",
        "connection": "1869a2ff19ac52a0",
        "unknown_devices": true,
        "outputs": 2,
        "x": 750,
        "y": 320,
        "wires": [
            [
                "e3df83fd38dbf123"
            ],
            [
                "e3df83fd38dbf123"
            ]
        ]
    },
    {
        "id": "466b5b61fa269d89",
        "type": "function",
        "z": "2c93f197478d871e",
        "name": "R1-ON ",
        "func": "msg.payload = {};\nmsg.payload.data = [0xAA,0x07,0xBD,0x01,0xFD,0x01,0x01,0x01,0x00,0x6F];\n// msg.payload.address = \"00:13:a2:00:41:db:8c:15\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 100,
        "wires": [
            [
                "c4122250458ad048"
            ]
        ]
    },
    {
        "id": "ce1f5a90e8af3f9c",
        "type": "inject",
        "z": "2c93f197478d871e",
        "name": "ON",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "466b5b61fa269d89"
            ]
        ]
    },
    {
        "id": "98364da741b430a9",
        "type": "function",
        "z": "2c93f197478d871e",
        "name": "R1-OFF",
        "func": "msg.payload = {};\nmsg.payload.data = [0xAA, 0x07, 0xBD, 0x01, 0xFD, 0x00, 0x01, 0x01, 0x00, 0x6E];\n// msg.payload.address = \"00:13:a2:00:41:db:8c:15\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 140,
        "wires": [
            [
                "c4122250458ad048"
            ]
        ]
    },
    {
        "id": "6439d7d72cca2ba8",
        "type": "inject",
        "z": "2c93f197478d871e",
        "name": "OFF",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "98364da741b430a9"
            ]
        ]
    },
    {
        "id": "063c64bb13d849ac",
        "type": "function",
        "z": "2c93f197478d871e",
        "name": "R2-ON ",
        "func": "msg.payload = {};\nmsg.payload.data = [0xAA,0x07,0xBD,0x01,0xFD,0x01,0x01,0x02,0x00,0x70];\n// msg.payload.address = \"00:13:a2:00:41:db:8c:15\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 240,
        "wires": [
            [
                "c4122250458ad048"
            ]
        ]
    },
    {
        "id": "93ae09e3ad18afee",
        "type": "inject",
        "z": "2c93f197478d871e",
        "name": "ON",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "063c64bb13d849ac"
            ]
        ]
    },
    {
        "id": "0eab33756b0659d4",
        "type": "function",
        "z": "2c93f197478d871e",
        "name": "R2-OFF",
        "func": "msg.payload = {};\nmsg.payload.data = [0xAA, 0x07, 0xBD, 0x01, 0xFD, 0x00, 0x01, 0x02, 0x00, 0x6F];\n// msg.payload.address = \"00:13:a2:00:41:db:8c:15\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 280,
        "wires": [
            [
                "c4122250458ad048"
            ]
        ]
    },
    {
        "id": "75a816b606eaf59d",
        "type": "inject",
        "z": "2c93f197478d871e",
        "name": "OFF",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "0eab33756b0659d4"
            ]
        ]
    },
    {
        "id": "4a301b3bdd2c94b9",
        "type": "function",
        "z": "2c93f197478d871e",
        "name": "R3-ON ",
        "func": "msg.payload = {};\nmsg.payload.data = [0xAA,0x07,0xBD,0x01,0xFD,0x01,0x01,0x03,0x00,0x71];\n// msg.payload.address = \"00:13:a2:00:41:db:8c:15\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 380,
        "wires": [
            [
                "c4122250458ad048"
            ]
        ]
    },
    {
        "id": "e0fc48d92a389c06",
        "type": "inject",
        "z": "2c93f197478d871e",
        "name": "ON",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "4a301b3bdd2c94b9"
            ]
        ]
    },
    {
        "id": "9c0a5d173288e342",
        "type": "function",
        "z": "2c93f197478d871e",
        "name": "R3-OFF",
        "func": "msg.payload = {};\nmsg.payload.data = [0xAA, 0x07, 0xBD, 0x01, 0xFD, 0x00, 0x01, 0x03, 0x00, 0x70];\n// msg.payload.address = \"00:13:a2:00:41:db:8c:15\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 420,
        "wires": [
            [
                "c4122250458ad048"
            ]
        ]
    },
    {
        "id": "3df133009d5ec87f",
        "type": "inject",
        "z": "2c93f197478d871e",
        "name": "OFF",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "9c0a5d173288e342"
            ]
        ]
    },
    {
        "id": "6e5a77be575a7f5a",
        "type": "function",
        "z": "2c93f197478d871e",
        "name": "R4-ON ",
        "func": "msg.payload = {};\nmsg.payload.data = [0xAA,0x07,0xBD,0x01,0xFD,0x01,0x01,0x04,0x00,0x72];\n// msg.payload.address = \"00:13:a2:00:41:db:8c:15\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 520,
        "wires": [
            [
                "c4122250458ad048"
            ]
        ]
    },
    {
        "id": "efbc96a5323d57b3",
        "type": "inject",
        "z": "2c93f197478d871e",
        "name": "ON",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "6e5a77be575a7f5a"
            ]
        ]
    },
    {
        "id": "c372005b2d3fe9a6",
        "type": "function",
        "z": "2c93f197478d871e",
        "name": "R4-OFF",
        "func": "msg.payload = {};\nmsg.payload.data = [0xAA, 0x07, 0xBD, 0x01, 0xFD, 0x00, 0x01, 0x04, 0x00, 0x71];\n// msg.payload.address = \"00:13:a2:00:41:db:8c:15\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 560,
        "wires": [
            [
                "c4122250458ad048"
            ]
        ]
    },
    {
        "id": "e4817a32f0d59b32",
        "type": "inject",
        "z": "2c93f197478d871e",
        "name": "OFF",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "c372005b2d3fe9a6"
            ]
        ]
    },
    {
        "id": "815c795c2e1e7762",
        "type": "comment",
        "z": "2c93f197478d871e",
        "name": "Relay 1",
        "info": "",
        "x": 130,
        "y": 60,
        "wires": []
    },
    {
        "id": "1bbc7d5528613e83",
        "type": "comment",
        "z": "2c93f197478d871e",
        "name": "Relay 2",
        "info": "",
        "x": 130,
        "y": 200,
        "wires": []
    },
    {
        "id": "c13f667cc1d2cf92",
        "type": "comment",
        "z": "2c93f197478d871e",
        "name": "Relay 3",
        "info": "",
        "x": 130,
        "y": 340,
        "wires": []
    },
    {
        "id": "78d8da8a7bd5c3a1",
        "type": "comment",
        "z": "2c93f197478d871e",
        "name": "Relay 4",
        "info": "",
        "x": 130,
        "y": 480,
        "wires": []
    },
    {
        "id": "9b482dfa51a27c65",
        "type": "comment",
        "z": "2c93f197478d871e",
        "name": "Change address to match your endnode controller",
        "info": "",
        "x": 630,
        "y": 260,
        "wires": []
    },
    {
        "id": "c4122250458ad048",
        "type": "change",
        "z": "2c93f197478d871e",
        "name": "Assign Target",
        "rules": [
            {
                "t": "set",
                "p": "payload.address",
                "pt": "msg",
                "to": "00:13:a2:00:41:db:8c:15",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 320,
        "wires": [
            [
                "6966003bfc36520b"
            ]
        ]
    },
    {
        "id": "e3df83fd38dbf123",
        "type": "debug",
        "z": "2c93f197478d871e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 320,
        "wires": []
    },
    {
        "id": "1869a2ff19ac52a0",
        "type": "ncd-gateway-config",
        "name": "Zigmo",
        "comm_type": "serial",
        "ip_address": "",
        "tcp_port": "2101",
        "port": "/dev/tty.usbserial-AB0JTRX6",
        "baudRate": "115200",
        "pan_id": "7FFF",
        "rssi": false
    }
]