endnode_example.json
[
    {
        "id": "b8939b6d8dda5c38",
        "type": "tab",
        "label": "EndNode Relay Example",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e748227717d1a963",
        "type": "group",
        "z": "b8939b6d8dda5c38",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9b482dfa51a27c65",
            "c4122250458ad048"
        ],
        "x": 494,
        "y": 299,
        "w": 432,
        "h": 142
    },
    {
        "id": "63130894d3a55fdb",
        "type": "group",
        "z": "b8939b6d8dda5c38",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "6966003bfc36520b",
            "f13dc22483fd2696"
        ],
        "x": 974,
        "y": 299,
        "w": 472,
        "h": 142
    },
    {
        "id": "f7dea52a82065166",
        "type": "group",
        "z": "b8939b6d8dda5c38",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "466b5b61fa269d89",
            "ce1f5a90e8af3f9c",
            "98364da741b430a9",
            "6439d7d72cca2ba8",
            "063c64bb13d849ac",
            "93ae09e3ad18afee",
            "0eab33756b0659d4",
            "75a816b606eaf59d",
            "4a301b3bdd2c94b9",
            "e0fc48d92a389c06",
            "9c0a5d173288e342",
            "3df133009d5ec87f",
            "6e5a77be575a7f5a",
            "efbc96a5323d57b3",
            "c372005b2d3fe9a6",
            "e4817a32f0d59b32",
            "815c795c2e1e7762",
            "1bbc7d5528613e83",
            "c13f667cc1d2cf92",
            "78d8da8a7bd5c3a1",
            "1936a330c5307f7a"
        ],
        "x": 54,
        "y": 59,
        "w": 372,
        "h": 622
    },
    {
        "id": "6966003bfc36520b",
        "type": "ncd-gateway-node",
        "z": "b8939b6d8dda5c38",
        "g": "63130894d3a55fdb",
        "name": "",
        "connection": "",
        "unknown_devices": true,
        "outputs": 2,
        "x": 1110,
        "y": 400,
        "wires": [
            [
                "e3df83fd38dbf123"
            ],
            [
                "e3df83fd38dbf123"
            ]
        ]
    },
    {
        "id": "466b5b61fa269d89",
        "type": "function",
        "z": "b8939b6d8dda5c38",
        "g": "f7dea52a82065166",
        "name": "R1-ON ",
        "func": "msg.payload = {};\nmsg.payload.data = [0xAA,0x07,0xBD,0x01,0xFD,0x01,0x01,0x01,0x00,0x6F];\n// msg.payload.address = \"00:13:a2:00:41:db:8c:15\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 180,
        "wires": [
            [
                "c4122250458ad048"
            ]
        ]
    },
    {
        "id": "ce1f5a90e8af3f9c",
        "type": "inject",
        "z": "b8939b6d8dda5c38",
        "g": "f7dea52a82065166",
        "name": "ON",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "466b5b61fa269d89"
            ]
        ]
    },
    {
        "id": "98364da741b430a9",
        "type": "function",
        "z": "b8939b6d8dda5c38",
        "g": "f7dea52a82065166",
        "name": "R1-OFF",
        "func": "msg.payload = {};\nmsg.payload.data = [0xAA, 0x07, 0xBD, 0x01, 0xFD, 0x00, 0x01, 0x01, 0x00, 0x6E];\n// msg.payload.address = \"00:13:a2:00:41:db:8c:15\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 220,
        "wires": [
            [
                "c4122250458ad048"
            ]
        ]
    },
    {
        "id": "6439d7d72cca2ba8",
        "type": "inject",
        "z": "b8939b6d8dda5c38",
        "g": "f7dea52a82065166",
        "name": "OFF",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "98364da741b430a9"
            ]
        ]
    },
    {
        "id": "063c64bb13d849ac",
        "type": "function",
        "z": "b8939b6d8dda5c38",
        "g": "f7dea52a82065166",
        "name": "R2-ON ",
        "func": "msg.payload = {};\nmsg.payload.data = [0xAA,0x07,0xBD,0x01,0xFD,0x01,0x01,0x02,0x00,0x70];\n// msg.payload.address = \"00:13:a2:00:41:db:8c:15\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 320,
        "wires": [
            [
                "c4122250458ad048"
            ]
        ]
    },
    {
        "id": "93ae09e3ad18afee",
        "type": "inject",
        "z": "b8939b6d8dda5c38",
        "g": "f7dea52a82065166",
        "name": "ON",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "063c64bb13d849ac"
            ]
        ]
    },
    {
        "id": "0eab33756b0659d4",
        "type": "function",
        "z": "b8939b6d8dda5c38",
        "g": "f7dea52a82065166",
        "name": "R2-OFF",
        "func": "msg.payload = {};\nmsg.payload.data = [0xAA, 0x07, 0xBD, 0x01, 0xFD, 0x00, 0x01, 0x02, 0x00, 0x6F];\n// msg.payload.address = \"00:13:a2:00:41:db:8c:15\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 360,
        "wires": [
            [
                "c4122250458ad048"
            ]
        ]
    },
    {
        "id": "75a816b606eaf59d",
        "type": "inject",
        "z": "b8939b6d8dda5c38",
        "g": "f7dea52a82065166",
        "name": "OFF",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "0eab33756b0659d4"
            ]
        ]
    },
    {
        "id": "4a301b3bdd2c94b9",
        "type": "function",
        "z": "b8939b6d8dda5c38",
        "g": "f7dea52a82065166",
        "name": "R3-ON ",
        "func": "msg.payload = {};\nmsg.payload.data = [0xAA,0x07,0xBD,0x01,0xFD,0x01,0x01,0x03,0x00,0x71];\n// msg.payload.address = \"00:13:a2:00:41:db:8c:15\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 460,
        "wires": [
            [
                "c4122250458ad048"
            ]
        ]
    },
    {
        "id": "e0fc48d92a389c06",
        "type": "inject",
        "z": "b8939b6d8dda5c38",
        "g": "f7dea52a82065166",
        "name": "ON",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "4a301b3bdd2c94b9"
            ]
        ]
    },
    {
        "id": "9c0a5d173288e342",
        "type": "function",
        "z": "b8939b6d8dda5c38",
        "g": "f7dea52a82065166",
        "name": "R3-OFF",
        "func": "msg.payload = {};\nmsg.payload.data = [0xAA, 0x07, 0xBD, 0x01, 0xFD, 0x00, 0x01, 0x03, 0x00, 0x70];\n// msg.payload.address = \"00:13:a2:00:41:db:8c:15\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 500,
        "wires": [
            [
                "c4122250458ad048"
            ]
        ]
    },
    {
        "id": "3df133009d5ec87f",
        "type": "inject",
        "z": "b8939b6d8dda5c38",
        "g": "f7dea52a82065166",
        "name": "OFF",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "9c0a5d173288e342"
            ]
        ]
    },
    {
        "id": "6e5a77be575a7f5a",
        "type": "function",
        "z": "b8939b6d8dda5c38",
        "g": "f7dea52a82065166",
        "name": "R4-ON ",
        "func": "msg.payload = {};\nmsg.payload.data = [0xAA,0x07,0xBD,0x01,0xFD,0x01,0x01,0x04,0x00,0x72];\n// msg.payload.address = \"00:13:a2:00:41:db:8c:15\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 600,
        "wires": [
            [
                "c4122250458ad048"
            ]
        ]
    },
    {
        "id": "efbc96a5323d57b3",
        "type": "inject",
        "z": "b8939b6d8dda5c38",
        "g": "f7dea52a82065166",
        "name": "ON",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 600,
        "wires": [
            [
                "6e5a77be575a7f5a"
            ]
        ]
    },
    {
        "id": "c372005b2d3fe9a6",
        "type": "function",
        "z": "b8939b6d8dda5c38",
        "g": "f7dea52a82065166",
        "name": "R4-OFF",
        "func": "msg.payload = {};\nmsg.payload.data = [0xAA, 0x07, 0xBD, 0x01, 0xFD, 0x00, 0x01, 0x04, 0x00, 0x71];\n// msg.payload.address = \"00:13:a2:00:41:db:8c:15\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 640,
        "wires": [
            [
                "c4122250458ad048"
            ]
        ]
    },
    {
        "id": "e4817a32f0d59b32",
        "type": "inject",
        "z": "b8939b6d8dda5c38",
        "g": "f7dea52a82065166",
        "name": "OFF",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 640,
        "wires": [
            [
                "c372005b2d3fe9a6"
            ]
        ]
    },
    {
        "id": "815c795c2e1e7762",
        "type": "comment",
        "z": "b8939b6d8dda5c38",
        "g": "f7dea52a82065166",
        "name": "Relay 1",
        "info": "",
        "x": 130,
        "y": 140,
        "wires": []
    },
    {
        "id": "1bbc7d5528613e83",
        "type": "comment",
        "z": "b8939b6d8dda5c38",
        "g": "f7dea52a82065166",
        "name": "Relay 2",
        "info": "",
        "x": 130,
        "y": 280,
        "wires": []
    },
    {
        "id": "c13f667cc1d2cf92",
        "type": "comment",
        "z": "b8939b6d8dda5c38",
        "g": "f7dea52a82065166",
        "name": "Relay 3",
        "info": "",
        "x": 130,
        "y": 420,
        "wires": []
    },
    {
        "id": "78d8da8a7bd5c3a1",
        "type": "comment",
        "z": "b8939b6d8dda5c38",
        "g": "f7dea52a82065166",
        "name": "Relay 4",
        "info": "",
        "x": 130,
        "y": 560,
        "wires": []
    },
    {
        "id": "9b482dfa51a27c65",
        "type": "comment",
        "z": "b8939b6d8dda5c38",
        "g": "e748227717d1a963",
        "name": "Change address to match your endnode controller",
        "info": "",
        "x": 710,
        "y": 340,
        "wires": []
    },
    {
        "id": "c4122250458ad048",
        "type": "change",
        "z": "b8939b6d8dda5c38",
        "g": "e748227717d1a963",
        "name": "Assign Target",
        "rules": [
            {
                "t": "set",
                "p": "payload.address",
                "pt": "msg",
                "to": "00:13:a2:00:41:db:8c:15",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 400,
        "wires": [
            [
                "6966003bfc36520b"
            ]
        ]
    },
    {
        "id": "e3df83fd38dbf123",
        "type": "debug",
        "z": "b8939b6d8dda5c38",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1540,
        "y": 400,
        "wires": []
    },
    {
        "id": "f13dc22483fd2696",
        "type": "comment",
        "z": "b8939b6d8dda5c38",
        "g": "63130894d3a55fdb",
        "name": "Edit the Wireless Gateway to assign your serial device",
        "info": "",
        "x": 1220,
        "y": 340,
        "wires": []
    },
    {
        "id": "1936a330c5307f7a",
        "type": "comment",
        "z": "b8939b6d8dda5c38",
        "g": "f7dea52a82065166",
        "name": "Relay Control Triggers",
        "info": "",
        "x": 180,
        "y": 100,
        "wires": []
    }
]